{% extends "base.html" %}

{% block content %}
<div class="mt-4">
    <h1>Products</h1>
    <form method="post" action="{{ url_for('create_or_update_product') }}">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <button type="submit" class="btn btn-primary">Create/Update Product</button>
    </form>
    <h2 class="mt-4">Existing Products</h2>
    <ul class="list-group">
        {% for id, product in products.items() %}
        <li class="list-group-item">
            <a href="{{ url_for('get_product_page', product_id=id) }}">{{ product['name'] }}</a>
            <form method="post" action="{{ url_for('delete_product', product_id=id) }}" class="float-right">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

